body{
    background-color: #162F52;
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-image: url("./1544605350921.jpg");*/
    /*background-attachment: fixed;*/
    /*background-repeat:no-repeat;*/
    /*background-size:cover;*/
}
/*标题样式start*/
.header{
    display:flex;
    flex-direction:row;
    height: 48px;
    border-bottom: 1px solid #000000;
}
.header_Title{
    color:#FFFFFF;
    width: 100%;
    height: 100%;
    vertical-align:middle;

}
.headerLogo{
    display: flex;
    justify-content:flex-start;
    align-items:Center;
}
.headerLogo img{
    width: 30px;
    height: 35px;
    line-height: 35px;

}
.header_Title span{
    height: 35px;
    font-size: 20px;
    line-height: 35px;
    vertical-align: middle;
}
.headerTitle{
    font-size:26px;
    display: flex;
    justify-content:center;
    align-items:Center;

}
.headerTime{
    display: flex;
    justify-content:center;
    align-items:Center;
}
/*标题样式end*/
.nav{
    width: 100%;
}
/*列表样式start*/
.border{
    width: 90%;
    margin-top: 10px;
    background-color: #0A0E29;
    margin-left: 5%;
}
.border ul {
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;
    width: 100%;
}
.border ul:after{
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0;
}
.border li {
    float: left;
    width: 22%;
    box-sizing: border-box;
    margin:0 2% 0 1% ;
    padding: 0;
    color:#4363B1;
}
.border li span{
    display:block;
}
.border li .border_list_data {
    width: 100%;
    height:60px;
    clear: both;
    margin: 10px 0;
    line-height: 60px;
    border: 1px solid #1A3482;
}
.border_list_data{
    position: relative;
    width: 400px;
    height: 50px;
    border: 1px solid #1E387E;
}
.border_list_data span:nth-child(1){
    position: absolute;
    left: -2px;
    top: -2px;
    padding: 5px;
    border-style: solid;
    border-color: #3678E7;
    border-width: 2px 0 0 2px;
    border-top-left-radius: 7px;
}
.border_list_data span:nth-child(2){
    position: absolute;
    right: -2px;
    top: -2px;
    padding: 5px;
    border-style: solid;
    border-color: #3678E7;
    border-width: 2px 2px 0 0;
    border-top-right-radius: 7px;

}
.border_list_data span:nth-child(3){
    position: absolute;
    right: -2px;
    bottom: -2px;
    padding: 5px;
    border-style: solid;
    border-color: #3678E7;
    border-width: 0 2px 2px 0;
    border-bottom-right-radius: 7px;
}
.border_list_data span:nth-child(4){
    position: absolute;
    left: -2px;
    bottom: -2px;
    padding: 5px;
    border-style: solid;
    border-color: #3678E7;
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 7px;
}
    .data_father{
        width: 100%;
        display: flex;
    }
    i{
        display: inline-block;
        list-style: none;
        font-size: 30px;
        color: #F1F55A;
        height: 54px;
        flex: 1;
        text-align: center;
        margin: 3px 0 0 0;
        border-right:2px solid #1A3482;
    }
    i:nth-last-child(1){
        border:0;
    }
/*中间end*/
/*底部start*/
    .footer{
        width: 100%;
        display:flex;
        margin-top: 15px;
        flex-direction:row;
        text-align: center;
        vertical-align:middle;

    }
    .footer_l{
        flex: 1;
        color:#FFFFFF;
        vertical-align:middle;
        padding-top: 30px;
    }
    .disblock{
        clear: both;
    }
    .disblock ul{
        text-align: center;
        margin-top: 0;
    }
    .disblock li{
        list-style: none;
        box-sizing: border-box;
    }
    .footer_m{
        color:#FFFFFF;
        flex: 3;
        vertical-align:middle;
    }
    .footer_m_top{

    }
    .footer_m_top_l{
        float: left;
        width: 40%;
        height: 100px;
        border: 1px solid #0A0E29;
        display: inline-block;
    }
    .footer_m_top_l img{
        float: left;
        width: 100px;
        height: 100px;
        display: inline-block;
    }
    .footer_m_top_l_data{
        width: 60%;
        height: 100px;
        font-size: 20px;
        display: inline-block;
        padding-top:20px ;
     }
    .footer_m_top_r{
        float: right;
        width: 40%;
        height: 100px;
        border: 1px solid #0A0E29;
        display: inline-block;

    }
    .footer_m_top_r img{
        float: left;
        width: 100px;
        height: 100px;
        display: inline-block;
    }
    .footer_m_bottom{
        padding-top:20px ;
        clear: both;

    }
    #AllCallData{
        float: left;
    }
    #CallTimeData{
        float: right;
    }
    .footer_r{
        color:#FFFFFF;
        flex: 1;
        text-align:center;
        padding-top: 30px;

    }
    .footer_r_body{
        display:inline-block;
    }
    .footer_r_bottom{
        margin-top: 20px;
    }
    #CallLossRate{
        margin-top: 10px;
    }
    #SpilloverRate{
        margin-top: 10px;
    }
/*底部end*/